<h1>Here are the Websites You are Tracking</h1>
<% @sites.each do |site| %>
  <h2>
    <%= link_to site.name, site %> </br>
  </h2>
  <small>
      <%= link_to "Edit", edit_site_path(site) %> &nbsp; &nbsp;
      <%= link_to "Delete", [site], method: :delete, data: { confirm: 'Are you sure you want to stop tracking this website?'} %>

  </small>
<% end %>
</br>
</br>
<%= link_to "Add a Website", new_site_path, class: 'btn btn-success' %>


